body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.cards {
  font-size: 140px;
}

.button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.blue_but {
  background-color: #008cba;
  color: white;
} /* Blue */
.red_but {
  background-color: #f44336;
  color: white;
} /* Red */
.green_but {
  background-color: #4caf50;
  color: white;
} /* Green */
.yellow_but {
  background-color: yellow;
} /* Yellow */

div.c {
  text-transform: capitalize;
}
